.logo:hover{
    cursor: pointer;
}
nav ul li a:hover{
    color: rgb(229, 135, 9);
    transition: .5s;
}

div.get-started:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
}
div.get-started:active{
    scale: 0.95;
}
div.get-started-drop:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 0.5s;
}
@media (max-width:992px) {
   nav ul, div.get-started{
    display: none;
    transition: 0.5s ease;
   }
   #bars{
    display: block;
    transition: 0.5s;
   }
   #checkbtn:checked ~ div.dropdown-menu{
    display: block;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
}

@media (max-width: 657px){
    div.dropdown-menu{
        width: 100%;
        right: 0;
    }
    #checkbtn:checked ~ div.dropdown-menu{
        display: block;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
       }
}